<?xml version='1.0' encoding='utf-8' ?>
<plugin id="cordova-plugin-unity" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Unity</name>
  <js-module name="Unity" src="www/Unity.js">
    <clobbers target="cordova.plugins.Unity" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Unity">
        <param name="ios-package" value="Unity" />
      </feature>
    </config-file>
    <source-file src="src/ios/Unity.m" />
  </platform>
</plugin>
